<br>
<h1 class="entry-title"><span> Zaloguj się</span></h1>
<hr>
<br>
<div class="form-group">
<form action="post" autocomplete="off" method="POST">
  <div class="input-group">
    <input [(ngModel)]="credentials.login" type="text" class="form-control"
           name="username" placeholder="Nazwa" title="Wprowadź login">
  </div>

  <div class="input-group">
    <input [(ngModel)]="credentials.password" type="password" class="form-control"
           name="password" placeholder="Hasło" title="Wprowadź hasło">
  </div>
<br>
  <div class="button">
    <div class="col-xs-offset-3 col-xs-10">
      <button (click)="signIn()" name="Submit" type="submit" class="btn btn-primary">Zaloguj
      </button>
    </div>
  </div>
</form></div>
